@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}



:root {
  --primary--color: #2da8d8ff;
  --secondary-color: #7342d6;
  --tertiary--color: #d9514eff;
}


body {
  background-color: rgba(0, 0, 0, 0.9);
}


a {
  text-decoration: none;
  color: #f5f5f5;
}

.no-cursor{
  cursor: not-allowed !important;
}

li {
  list-style-type: none;
}

.click {
  transition: all 300ms ease;
  cursor: pointer;
}
.click:hover {
  transform: scale(1.1);
}

.click:active {
  transform: scale(0.8);
}

.container {
  margin: 70px 0;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1350px;
  margin: 0 auto;
}

.trending__row {
  max-width: 1350px;
  margin: 0 auto;
}


/* NAV */

nav {
  height: 90px;
  background-color: #171717;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  z-index: 12;
  overflow: hidden;
  position: relative;
}

.nav__container {
  max-width: 1300px;
  height: 100%;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  
}

.nav__links {
  display: flex;
}

.nav__link {
  background-color: var(--secondary-color);
  border-radius: 16px;
  padding: 6px 12px;
  color: white;
  text-decoration: none;
}

.nav__item {
  margin: 0 12px;
}
.mobile__nav{
  display: none;
}
.bars__icon{
  font-size: 32px;
  color: #f1f1f1;
  
}

.mobile__navbar{
  position: absolute;
  z-index: 13;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #202020;
  transform: translateX(150%);
  visibility: hidden;
  transition: all 400ms ease;
}

.nav--open .mobile__navbar{
  transform: translateX(0);
  visibility: visible;
}

.mobile__nav--container{
  position: relative;
  height: 100%;
}

.nav--open {
  overflow: hidden;
}

.exit-nav{
  position: absolute;
  right: 5%;
  top: 3%;
  color: #f1f1f1;
  font-size: 24px;
}

.mobile__nav--links{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #f1f1f1;
  
}

.mobile__nav--link{
  margin-bottom:35px;
  font-size: 32px;
  position: relative;
}

/* END NAV */

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-up-minor {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo {
  width: 100px;
  scale: 1.6;
  padding-top: 7px;
}

h1 {
  color: #f5f5f5;
}

.landing__content {
  position: relative;
  z-index: 1;
}

.landing__container {
  min-height: calc(100vh - 150px);
  padding: 45px 0 25px 0px;
}

.landing__info,
.landing__img {
  width: 50%;
  padding: 0 12px;
}

.landing__info{
  animation: fade-up 650ms 550ms backwards;
}

.landing__img {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fade-up 650ms 650ms backwards;
}

.landing__photo {
  width: 100%;
}

.landing__title {
  font-size: 72px;
  margin-bottom: 8px;
}

.landing__subtitle {
  font-size: 32px;
  color: #f5f5f5;
  margin-bottom: 32px;
}

.landing__description {
  font-size: 24px;
  width: 80%;
  color: #f5f5f5;
  line-height: 1.25;
}
hr {
  width: 78%;
}

.button__container {
  display: flex;
  margin-bottom: 16px;
}

.landing__btn {
  border: none;
  border-radius: 12px;
  padding: 8px 16px;
  margin: 20px 20px 0px 0px;
  background-color: var(--secondary-color);
  color: #f5f5f5;
  font-size: 20px;
}

.currency__title {
  margin: 16px 0;
  color: #f5f5f5;
  font-size: 18px;
}

.currency__container {
  display: flex;
  justify-content: space-between;
  width: 60%;
  font-size: 18px;
  color: white;
}

.payment {
  font-size: 30px;
}

/* Left Side Bar*/


.left__sidebar--container {
  position: absolute;
  top: 15%;
  left: 0.5%;
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  animation: fade-up 650ms 700ms backwards;
}

.left__sidebar {
  height: 225px;
  width: 5px;
  position: relative;
  background: var(--secondary-color);
  border-radius: 16px;
}

.left__sidebar:after,
.left__sidebar::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: var(--secondary-color);
}

.left__sidebar:after {
  bottom: -5%;
  left: -100%;
}

.left__sidebar:before {
  top: -5%;
  left: -100%;
}

.icon__container--top {
  margin-bottom: 40%;
  position: relative;
}

.icon__container--bottom {
  margin-top: 40%;
  position: relative;
}

.sidebar-icon {
  width: 33px;
  height: 33px;
  color: var(--secondary-color);
}

.icon__popper {
  position: absolute;
  top: 30%;
  color: #f5f5f5;
  font-weight: 600;
  width: 140px;
  margin-left: 10px;
  opacity: 0;
  transform: translateX(-25%);
  transition: all 300ms ease;
}

.left__sidebar--container:hover .icon__popper {
  opacity: 1;
  transform: translateX(0);
}

.left__sidebar--container:hover .left__sidebar--container {
  min-width: 190px;
}

/* Contact */

.contact__button {
  position: fixed;
  bottom: 3%;
  right: 1.5%;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  box-shadow: 0px 0px 8px rgba(256, 256, 256, 0.3);
  animation: fade-up 650ms 600ms backwards;
}

.contact__button--icon {
  color: #f5f5f5;
  height: 32px;
}


/* FEATURE */

.feature {
  width: 150px;
  height: 150px;
  animation: fade-up 650ms 800ms backwards;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #202020;
  margin: 0 80px;
  z-index: 1;
  border-radius: 12px;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 300ms ease;
  
}

.feature__row{
  flex-wrap: wrap;
}

.feature:hover {
  background-color: #303030;
}

.feature__icon {
  color: #f5f5f5;
  font-size: 40px;
  color: var(--secondary-color);
  margin-bottom: 15px;
}

.feature__text {
  text-align: center;
  color: #f5f5f5;
  font-weight: 600;
}
/* 

Trending

*/



.section__title {
  text-align: center;
  visibility: visible;
  font-size: 48px;
  margin-bottom: 64px !important;
  margin: 0 auto;
}


.trending__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}


.nft {
  height: 405px;
  width: 315px;
  margin: 20px 11px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background: rgb(69, 69, 69);
  background: radial-gradient(
    circle,
    rgba(60, 60, 60, 1) 0%,
    rgba(36, 36, 36, 1) 100%
  );
  padding: 0px 8px;
  box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.2);

}

.nft__title {
  margin-top: 12px;
  font-size: 24px;
}



.nft__img--wrapper {
  width: 275px;
  height: 190px;
  position: relative;
  display: flex;
  margin: 12px 0px 18px 0px;
}

.counter {
  position: absolute;
  top: -3%;
  right: 1%;
  background-color: var(--secondary-color);
  color: #f5f5f5;
  border-radius: 12px;
  padding: 4px 8px;
}

.nft__img--wrapper:hover .nft__img {
  transform: scale(1.05);
}

.nft__img {
  width: 100%;
  margin: auto 0;
  border-radius: 4px;
  transition: all 300ms ease;
  max-height: 185px;
}

.nft__description {
  color: white;
  /* border: 2px solid black; */
  width: 100%;
  padding: 0 4px;
  margin-bottom: 4px;
}

.nft__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.nft__description--icon {
  color: var(--secondary-color);
  margin-right: 4px;
}

.nft__button--purchase {
  border-radius: 8px;
  padding: 6px 12px;
  border: none;
  color: #f5f5f5;
  background-color: var(--secondary-color);
  font-size: 15px;
  font-weight: 500;
}

button {
  border: none;
}

.secondary__button {
  border-radius: 50%;
  padding: 8px 8px;
  font-size: 15px;
  background-color: var(--secondary-color);
  color: #f5f5f5;
  margin: 0 4px;
}

.nft__info {
  margin-bottom: 8px;
  font-size: 16px;
}

.rectangle__modal {
  background-color: rgba(0, 0, 0, 0.94);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100vw;
  height: 100vh;
  z-index: 105;
  display: flex;
  align-items: center;
  justify-content: center;
}



.mag__img--container{
  max-width: 775px;
  max-height: 540px;
  position: relative;
  z-index: 10;
}

.magnify-image {
  width: 100%;
  z-index: 10;
}

.image__exit{
  position: absolute;
  z-index: 11;
  color: #f1f1f1;
  background-color: #7342d6;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  top: 3%;
  left: 3%;
  padding: 6px 6px;
}


.hide--nfts .section__title{
  display: none;
}


/* Footer */

footer {
  position: relative;
  overflow: hidden;
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);
}

.footer__container {
  width: 100%;
  background-color: #171717;
}

.footer__row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 375px;
}

.footer__logo--wrapper {
  max-width: 150px;
  height: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer__logo {
  width: 100%;
  scale: 1.2;
}

.copyright__container {
  text-align: center;
  margin-top: 40px;
  font-weight: 500;
  color: #f5f5f5;
  font-size: 18px;
  line-height: 1.75;
}

.mobile__links{
  display: none;
  font-size: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.mobile__link{
  margin:10px;
}

/* Info */

#info {
  min-height: 65vh;
  position: relative;
  background-color: #171717;
  width: 100%;
}

.site__info--container {
  /* border: 2px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0px;
  width: 100%;
}
.info-row {
  padding: 36px 12px;
  flex-direction: column !important;
}

.sign-up__info,
.nft__breakdown {
  width: 100%;

  min-height: 400px;
  display: flex;
}



#nft__list {
  position: relative;
  animation: fade-up 1000ms ease;
}

select {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  color: #303030;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 16px;
  width: 25%;
  max-width: 200px;
}

#searchbar {
  width: 500px;
  height: 37px;
  border-radius: 12px;
  border: none;
  padding: 10px;
  font-size: 18px;
  background-color: #f1f1f1;
  color: #242424;
}

input:focus {
  outline-color: var(--secondary-color);
}

.search__container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 32px;
}

#nfts__title {
  margin-bottom: 40px !important;
}


#searchLimit {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  color: #303030;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 16px;
  width: 200px;
}

.reset {
  max-width: 200px;
  font-size: 16px !important;
  margin: 0 auto;
}

.reset__container {
  width: 100%;
  display: flex;
  position: relative;
  z-index: 1;
}

form {
  margin-bottom: 40px;
}

.nft__page {
  display: flex;
  min-height: 500px;
  width: 100%;
}

.nft__page--img,
.nft__page--description--container {
  width: 50%;
  padding: 24px 12px;
  position: relative;
  display: flex;
  align-items: center;
}

.nft__page--description {
  background: rgb(69, 69, 69);
  background: radial-gradient(
    circle,
    rgba(60, 60, 60, 1) 0%,
    rgba(36, 36, 36, 1) 100%
  );
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 32px 12px;
 color: #f1f1f1;
}

.nft__page--title {
  position: relative;
  margin-bottom: 24px;
  font-size: 36px;
}

.nft__page--title:after{
  content: "";
  position: absolute;
  bottom: -10%;
  width: 40%;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #f5f5f5;
}

.page__img {
  width: 100%;
}

.nft__page--caption {
  text-align: left;
  color: #f1f1f1;
  line-height: 1.5;
  font-size: 18px;
  max-width: 525px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.nft__page--information {
  font-size: 19px;
  margin-bottom: 40px;
}

.nft__page--price,
.nft__page--release,
.nft__page--delivery {
  margin-bottom: 12px;
}

/* 
MODAL
 */

 .modal {
  position: absolute;
  width: 600px;
  height: 700px;
  border-radius: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,25%);
  background-color: #252525;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  z-index: 3;
  transition: all 800ms ease;
}


.modal--open .modal{
  opacity: 1;
  transform: translate(-50%,-50%);
  visibility: visible;
}

.modal--open .backdrop {
  overflow: hidden;
  visibility: visible;
  opacity: 0.9;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0);
  opacity: 0;
  z-index: 3;
  filter: blur(2px);
  transition: all 400ms ease;
  visibility: hidden;
}


.option__selection--container{
  height: 10%;
  width: 100%;
  display: flex;
  position: relative;
}


.modal__option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
  color: #f1f1f1;
  font-weight: 550;
  position: relative;
  z-index: 2;
}




.active__option {
  height: 32px;
  width: 200px;
  border-radius: 12px;
  background-color: #7342d6;
  opacity: 1;
  position: absolute;
  top: 49%;
  left: 8%;
  z-index: 2;
  transform: translateY(-50%);
  transition: all 300ms ease;
}




.contact__open .active__option{
  left: 59.5%;
  width: 180px;
}


.modal__option--purple{
  z-index: 2;
}


.form__container{
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 40px 72px 0 72px;
  width: 100%;
  height: 90%;
}

.success__state{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #7342d6;
  z-index: 19;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f1f1f1;
  text-align: center;
  visibility: hidden;
  transform: translateY(125%);
  transition: all 400ms ease;
}

.form-submitted .success__state{
  visibility: visible;
  transform: translateY(0);
}


.success__message{
  font-size: 32px;
  margin-bottom: 32px;
}


.exit__button{
  position: absolute;
  color: #f0f0f0;
  font-size: 22px;
  top: 88%;
  left: 5%;
  text-align: center;
  z-index: 20;
}


.faArrow {
  margin-right: 8px;
}


.subscription__form{
  height: 100%;
  color: #f0f0f0;
}


.checkbox {
  display: flex;
}


.form__agreement {
  max-width: 400px;
  font-weight: 550;
}


.form__item {
  margin-bottom: 24px;
}


input, textarea{
  width: 100%;
  background-color: #252525;
  color: #f0f0f0;
  outline: none;
  border: 1px solid #c0c4cc;
  border-top: none;
  border-left:none;
  border-right:none;
  height: 40px;
  transition: all 300ms ease;
}


textarea{
  resize: vertical;
  height: 100px;
  margin-top: 8px;
}


label{
  font-size: 14px;
  font-weight: bold;
  color: #f0f0f0;
}


input:hover, textarea:hover {
  border-color: #dcdfe6;


}


input:focus, textarea:focus{
  border-color: #7342d6;
}


.modal__title{
  font-size: 26px;
  color: #f0f0f0;
}


.modal__sub-title{
  margin: 12px 0 24px 0;
  color: #f0f0f0;
}


.modal__para{
  margin-bottom: 12px;
  line-height: 1.75;
  color: #f0f0f0;
}


.form__item {
  margin-bottom: 20px;
}


.form__submit,
.sub-form__submit{
  background-color: white;
  border: 2px solid white;
  color: #242424;
  font-weight: 700;
  max-width: 240px;
  width: 100%;
  padding: 12px 24px;
  font-size: 20px;
  transition: all 300ms ease;
}


.form__submit:hover,
.sub-form__submit:hover{
  border-color: white;
  background-color: transparent;
  color: #7342d6;
}


.form__submit:active{
  border-color: #f06449;
  color: #f06449;
}


.checkbox__btn {
  width: 40px !important;
  margin-right: 20px;
}


/* CART */

#nfts__body {
  position: relative;
  z-index: 1;
  color: #f1f1f1;
  animation: fade-up 1000ms ease;
}

.cart__header {
  background-color: #7342d6;
  margin: 0 24px;
  padding: 8px 16px;
  color: white;
  display: flex;
}

.cart__item {
  margin: 24px;
  display: flex;
  padding-right: 8px;
}

.cart__title {
  margin-bottom: 16px;
}

.cart__nft {
  width: 60%;
  display: flex;
}

.cart__quantity {
  width: 40%;
  display: flex;
  align-items: center;
  
}

.total {
  color: #f1f1f1;
}

.cq{
  
  margin-left: 20px;
  background-color: #7342d6;
  border-radius: 4px;
  padding: 8px 10px;
  color: #f1f1f1 !important;
  font-weight: 500;
}

.cart__total {
  width: 100%;
  max-width: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 18px;
}

.cart__input {
  padding: 8px;
  width: 60px;
}

.cart__nft--img {
  width: 100%;
  max-width: 180px;
  max-height: 125px;
}

.cart__body{
  color: #f1f1f1;
}

.cart__nft--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 16px;
  color: #f1f1f1;
}

.cart__nft--title {
  font-size: 20px;
  margin-bottom: 16px;
}

.cart__nft--price {
  margin-bottom: 16px;
}

.cart__nft--remove {
  background-color: transparent;
  background-color: #cf0000;
  color: #f1f1f1;
  border-radius: 4px;
  padding: 3px 6px;
  border: none;
  width: 96px;
  font-size: 16px;
}

.total {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 24px;
  width: 100%;
  max-width: 300px;
  margin-left: auto;
  font-size: 16px;
}

.total__item {
  font-size: 18px;
  margin-bottom: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.total__sub-total {
  border-top: 2px solid #7342d6;
  padding-top: 24px;
}

.total__price {
  font-weight: bold;
}

.cart__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 96px;
}

.cart__empty--img {
  padding: 40px;
  max-width: 475px;
  position: relative;
  
}

.btn__checkout {
  width: 100%;
  font-size: 16px;
  padding: 12px 0;
}

.nft-row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.nfts__container {
  padding: 24px 0;
}

.nft__selected--top {
  padding: 0 24px;
  margin-bottom: 8px;
  font-size: 32px;
  color: #f0f0f0;
  display: flex;
  align-items: center;
}


.btn {
  background-color: #7342d6;
  color: white;
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
}

.empty__title{
  margin-bottom: 24px;
  color: #f1f1f1;
}


.back{
  position: relative;
  font-size: 22px;
  color: #f1f1f1;
  margin: 0 auto;
  max-width: 1300px;
}

.nft-back{
  position: relative;
  max-width: 115px;
}
/* HOver */

.link__hover-effect:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -4px;
  right: 0;
  transition: all 300ms ease;
  z-index: 15;
}

.link__hover-effect--purple:after {
  background-color: #7342d6;
}
.link__hover-effect--black:after {
  background-color: #000;
}

.link__hover-effect:hover:after {
  width: 100%;
  left: 0;
}

.color-fade{
  transition: all 300ms ease;
}
.color-fade:hover {

  filter: brightness(0.9);
}


.page{
  font-size: 19px !important;
}


/* About */

.about__container{
  margin: 0 auto;
  width: 100%;
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.about{
  height: 450px;
  width: 325px;
  border: 2px solid #7342d6;
  border-radius: 8px;
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: all 300ms ease;
  margin: 0 40px 0px 40px;
}

.about__image{
  color: #7342d6;
  height: 30%;
  padding: 16px;
  font-size: 128px;
  margin-bottom: 40px;
  animation: bounce 800ms infinite alternate-reverse;
}

.about__title{
  font-size: 32px;
  margin-bottom: 16px;
}

.about__para{
  width: 85%;
  line-height: 1.5;
  font-size: 18px;
  text-align: center;
}

.wave{
  position: absolute;
  bottom: 0;
}

.about:hover{
  background-color: #222222;
}


@keyframes bounce {
  0%{ transform: translateY(0);}
  100%{ transform: translateY(-4px);}
}





@media (max-width: 1670px) {

  .row {
    max-width: 1300px;
    padding: 20px;
  }
  .landing__title{
    font-size: 64px;
  }
  .landing__subtitle {
    font-size: 28px;
  }

  .landing__description{
    font-size: 22px;
  }

  .feature {
    margin: 0 70px;
  }

  .icon__popper{
    display: none;
  }

}


@media (max-width: 1400px) {
  .left__sidebar--container{
    display: none;
  }
}

@media (max-width: 1279px) {
  .landing__title{
    font-size: 58px;
  }
  .landing__subtitle {
    font-size: 26px;
  }

  .landing__description{
    font-size: 20px;
  }

  .feature {
    margin: 0 50px;
  }
  .landing__btn {
    font-size: 18px;
  }
  .about {
    margin-bottom: 40px;
  }
  .feature{
    width: 135px;
    margin: 0 40px 50px 50px;
  }
  .landing__container{
    min-height: none;
  }
}

@media (max-width:1028px) {
  .search__container{
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  
 }

 .limiter{
  display: none;
 }
 #searchbar{
  max-width: 550px;
  margin-bottom: 25px;
}
  
}

@media (max-width:820px) {

  .mobile__links{
    display: flex;
  }
  

  .modal{
    width: 550px;
  }

  .nav__links{
    display: none;
  }
  .mobile__nav{
    display: block;
  }
  .landing-row{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .container {
    margin: 0 60px;
  }

  .landing__img{
    margin: 0 auto;
  }
  .section__title{
    margin-top: 20px;
  }
  .landing__photo{
    height: 300px;
    width: 450px;
  }

  .nft{
    margin-left: 5;
    margin-right: 5;
  }
  .landing__info{
    width: 600px;
  }

  .landing__description{
    margin: 0 auto;
  }

  .currency__container{
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .button__container {
   display: flex;
   justify-content: center;
  }

  hr {
    margin: 0 auto;
  }
  .about {
    width: 300px;
    margin: 0 20px 40px 20px;
  }
  .landing__title{
    font-size: 62px;
  }
  .landing__subtitle{
    font-size: 32px;
  }
  .feature__text{
    font-size: 16px;
  }

  .feature{
    margin: 15px 35px;
  }

  #filter{
    width: 175px;
   }

   .nft__page{
    flex-direction: column !important;
   }

   .nft__page--img,
   .nft__page--description--container{
    width: 100%;
   }

   .nft-back{
    margin-top: 20px;
   }
}

@media (max-width:730px){
  .cq,
  .cart__quantity{ display: none}

  .cart__header,
  .cart__item{
    justify-content: space-between;
  }
}

@media(max-width: 550px) {

  .section__title{
    font-size: 40px;
    margin: 30px auto 30px auto !important;
  }
  .contact__container{
    margin: 32px 0;
  }
  .currency__container, 
  .currency__title,
  .divider{
    display: none;
  }

  .active__option{
    width: 170px;
    left: 8%;
  }
  
  

  .form__container{
    padding: 15px 64px 0px 64px;
  }
  .modal{
    width: 100vw;
    border-radius: none;
    z-index: 17;
    height: 750px;
  }

  .option__title{
    font-size: 16px;
}


.contact__open .active__option{
  left: 59%;
  width: 160px;
}
.modal__title{
  text-align: center;
}

.modal__sub-title{
  font-size: 14px;
  text-align: center;
}

.form__agreement{
  width: 240px;
}
 
  .landing__photo{
    height: 240px;
    width: 350px;
  }
  .nft{
    margin: 20px 0;
    padding: 0 12px;
  }

 .container{
  margin: 0 30px;
 }
  .landing__title{
    font-size: 48px;
  }
  .landing__subtitle{
    font-size: 26px;
  }
  .feature__text{
    font-size: 16px;
  }
  .landing__description{
    font-size: 18px;
    padding: 0 15px;
  }

  .landing__btn {
    font-size: 16px;
  }

  .feature{
    margin: 15px 12px;
    height: 110px;
    width: 110px;
  }
  .feature__text{
    font-size: 14px;
  }

  .feature__icon{
    font-size: 32px;
  }

    .about__title{
      font-size: 28px;
    }
  .about {
    height: 380px;
    margin: 0 15px 40px 15px;
  }
  .about__image{
    font-size: 96px;
    margin-bottom: 8px;
  }

  .about__para{
    font-size: 16px;

  }

  #searchbar{
    max-width: 350px;
    margin-bottom: 25px;
  }
 
 

 

 .cart__nft--img{
  display: none;
 }

}

@media(max-width: 500px) {
  .active__option{
    width: 160px;
    left: 6%;
  }

  .contact__open .active__option{
    left: 56%;
    width: 160px;
  }
  
}